
.mat-card{
    padding: 3px;
    margin: 2px 0;
    border-radius: 0;
}
.mat-card-title{
    margin: 0;
    margin-bottom: 0;
}
.mat-card-subtitle{
    margin: 0;
}
.status{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}
.mat-card-avatar {
    width: 55px;
    height: 55px;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.center button{
    margin-right: 5px;
}

