<mat-card *ngIf="maxIndex" class="child">
    
    <mat-card-header>
        <div *ngIf="postOwner" mat-card-avatar [ngStyle]="{'background': '#fff url(' + getProfileUrl() + ') no-repeat','background-size': 'cover'}"></div>
        <mat-card-title *ngIf="postOwner">{{ postOwner.username }}</mat-card-title>
        <mat-card-subtitle>{{ getDateInString() }}</mat-card-subtitle>
        <span class="spacer"></span>
        <!-- post menu -->
        <button class="menu" *ngIf="postOwner" mat-button [matMenuTriggerFor]="postmenu"><mat-icon class="menuicon">more_vert</mat-icon></button>

        <mat-menu #postmenu="matMenu">
            <button mat-menu-item (click)="onDelete()" *ngIf="postOwner" [disabled]="postOwner.userid!=currUserid" class="menuitem">delete</button>
            <button mat-menu-item class="menuitem" *ngIf="postOwner" [disabled]="postOwner.userid==currUserid">report</button>
        </mat-menu>
        
    </mat-card-header>
    
    <mat-card-content>
        <img src="{{ post.items[currIndex].url }}"
            (touchstart)="onTouch('start', $event)"
            (touchend)="onTouch('end', $event)"
            (mousedown)="onDrag('start', $event)"
            (mouseup)="onDrag('end', $event)" 
            (dblclick)="onLike()"/><br />
        <div class="iconsrow">
            <div class="icons">
                <mat-icon *ngIf="!isLike()" (click)="onLike()">favorite_border</mat-icon>
                <mat-icon *ngIf="isLike()" (click)="onLike()">favorite</mat-icon>
                <mat-icon (click)="onComment()">comment</mat-icon>
            </div>
            <div style="text-align: center" *ngIf="maxIndex>1">
                <span
                    class="dot"
                    *ngFor="let i of numSequence(maxIndex);index as j"
                    [ngClass]="{ 'filled': j == currIndex }"
                    (click)="onDotClick(j)"
                ></span>
            </div>
            <div>
                <mat-icon>report</mat-icon>
                <mat-icon>share</mat-icon>
            </div>
        </div>
        <p *ngIf="post.likeids.length || post.comments.length" >{{post.likeids.length}} likes and {{ post.comments.length }} comments</p>
        <p *ngIf="post.items[currIndex].caption && postOwner"><strong>{{ postOwner.username }} </strong>{{ post.items[currIndex].caption }}</p>
    </mat-card-content>
</mat-card>