<mat-card  (touchstart)="onTouch('start', $event)"
    (touchend)="onTouch('end', $event)"
    (mousedown)="onDrag('start', $event)"
    (mouseup)="onDrag('end', $event)" 
    *ngIf="userStatus.statuses[this.currIndex]">
    <mat-progress-bar mode="determinate" value="{{time}}"></mat-progress-bar>
    <mat-icon id="next" (click)="onCurrentNext()">navigate_next</mat-icon>
    <mat-icon id="prev" (click)="onCurrentPrev()">navigate_before</mat-icon>
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background': '#000 url(' + getProfileUrl() + ') no-repeat','background-size': 'cover'}"></div>
        <mat-card-title>{{ userStatus.user.username }}</mat-card-title>
        <mat-card-subtitle>{{ getDateInWords() }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-img src="{{ userStatus.statuses[this.currIndex].item.url }}">
    <div style="text-align: center" *ngIf="maxIndex>1">
        <span
            class="dot"
            *ngFor="let i of numSequence(maxIndex);index as j"
            [ngClass]="{ 'filled': j != currIndex }"
        ></span>
    </div>
    <p class="caption">{{ userStatus.statuses[this.currIndex].item.caption }}</p>
</mat-card>