:host{
    background: #000;
    color:#fff;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000 ;
}
.mat-card{
    position: relative;
    z-index: 100 ;

}
*{
    background: #000;
    color:#fff;
}
.mat-progress-bar{
    margin-bottom: 5px;
}

.caption{
    position: fixed;
    bottom: 20px;
    text-align: center;
    max-width: 600px;
    margin: auto;
}
#next{
    position: fixed;
    top: 40%;
    right: 0;
}
#prev{
    position: fixed;
    top: 40%;
    left: 0;
}