.commentbox{
    position: absolute;
    top:9%;
    left: 0;
    right: 0;
}
.date{
    position: absolute;
    right: 0;
    bottom: 0;
}
textarea{
    width: 100%;
    padding-right: 20px;
}
.mat-icon{
    font-size: 30px;
    position: absolute;
    top: 7%;
    right:3%
}
.content{
    display: block;
    margin: 105px 0;
    overflow: auto;
    height: 75vh;
}
.content .mat-icon{
    position: relative;
}
.mat-card{
    padding: 5px;
}
.mat-card-title{
    margin: 0;
    margin-bottom: 0;
}
.mat-card-header .mat-card-title{
    margin: 0;
}
.mat-card-subtitle{
    margin: 0;
}
@media screen and (min-width: 650px) {
    .commentbox{
        top:12.5%;
    }

    .content{
        display: block;
        margin: 110px 0;
        overflow: auto;
        height: 65vh;
    }
}