<ngx-spinner></ngx-spinner>
<div class="profile content" *ngIf="user" [ngClass]="{'content': isSeperatePage}">

    <!-- Edit -->
    <mat-card *ngIf="isEdit">
        <mat-icon (click)=" onGoBack()">arrow_back</mat-icon>
        <mat-card-content class="centerrow">
            <img class="circle" src="{{ newUrlOfProfile }}">

            <!-- Image uploader -->
            <button 
                color="primary"
                mat-raised-button
                onclick="document.getElementById('file').click()"
                >Choose Image</button>
            <input
                style="display: none;"
                type="file"
                id="file"
                accept="image/*"
                value="Upload"
                (change)="upload($event)"
            />

            <input type="text" placeholder="User Name" [(ngModel)]="update_user.username">
            <input type="bio" placeholder="bio" [(ngModel)]="update_user.bio">
            <button color="primary" mat-raised-button (click)="onEditSave()">Save</button>
        </mat-card-content>
    </mat-card>
    <!-- pro -->
    <mat-card *ngIf="isProRequest">
        <mat-icon (click)=" onGoBack()">arrow_back</mat-icon>
        <br>
        <mat-card-content class="centerrow">
            <input type="text" placeholder="category" [(ngModel)]="category">
            <input type="text" placeholder="describe how?" [(ngModel)]="detail_verify">
            <button color="primary" mat-raised-button (click)="onVerifyRequest()">Request</button>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!isProRequest && !isEdit">
        <mat-card-header>
            <img class="circle" src="{{ getProfileUrl() }}" alt="profile">
            <h4 class="center">Friends <br> {{ user.friendsids.length }}</h4>
            <h4 class="center">Posts <br> {{ user.postids.length }}</h4>
        </mat-card-header>
        <p style="margin: 0;">{{ user.username }}<mat-icon *ngIf="user.isPro">verified</mat-icon></p>
        <p style="font-size: 15px;color: rgb(90, 59, 88);font-style: italic"><strong>{{ user.category }}</strong></p>
        <p style="font-size: 15px;color: gray;">{{ user.bio }}</p>
        <mat-card-actions>
            <button *ngIf="type==='me'" color="primary" mat-raised-button (click)="showEdit()">Edit</button>
            <button *ngIf="type==='me'" color="primary" mat-raised-button (click)="showVerify()">Get Verified</button>
            <button *ngIf="type==='other'" color="primary" mat-raised-button (click)="onRequest()">Request</button>
            <button *ngIf="type==='requestSent' || type==='requestRecieved'" color="primary" mat-raised-button (click)="onCancel()">Cancel</button>
            <button *ngIf="type==='requestRecieved'" color="primary" mat-raised-button (click)="onAccept()">Accept</button>
            <button *ngIf="type==='friend'" color="primary" mat-raised-button (click)="onUnfriend()">Unfriend</button>
        </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="!isProRequest && !isEdit">
        <mat-card-content>
            <h3 style="background-color: rgb(178, 116, 236);color: azure;text-align: center;">All Post</h3>
            <p *ngIf="posts.length==0" class="nopost" style="text-align: center;">No Post found :(</p>
        </mat-card-content>
    </mat-card>
    <div *ngIf="!isProRequest && !isEdit">
        <app-post-model *ngFor="let post of posts" [post]="post"></app-post-model>
    </div>
   
</div>
