.mat-card-header {
    display: flex;
    flex-direction: row;
    position:relative;
    left: -25px;
}
p{
    margin: 0;
}
.mat-icon{
    position: absolute;
    font-size: 30px;
    text-align: center;
}

.profile{
    width: 100%;
    margin: auto;
    max-width: 500px;
}
.circle{
    border-radius: 40px;
    height: 80px;
    width: 80px;
}
.centerrow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centerrow *{
    margin-top: 10px;
}
.center{
    width: 100px;
    text-align: center;
}
