:host ::ng-deep .mat-tab-header {
    position: fixed;
    z-index:auto;
    width: 100%;
    top: 50px;
    background-color: white;

}

.mat-tab-body-wrapper{
    z-index: 100;
}


.status .mat-tab-body-wrapper{
    display: block;
}


