<p *ngIf="statuses.length==0" class="dummy">No status found :(<br> Please make friends to have more fun</p>

<div class="container">
    <div *ngFor="let userstatus of statuses;index as i">
        <mat-card *ngIf="userstatus" class="status" (click)="onStatusShow(i)">
            <div mat-card-avatar 
                [ngStyle]="{'background': '#000 url(' + getProfile(i) + ') no-repeat','background-size': 'cover'}"></div>
            <div>
                <mat-card-title>{{ userstatus.user.username }}</mat-card-title>
            </div>
        </mat-card>
    </div>
</div>

<app-status-model *ngIf="show && currIndex>=0 && statuses.length>currIndex" 
    [userstatus]="statuses[currIndex]" 
    (stop)="onStop($event)"
    (prev)="onPrev($event)"
    (next)="onNext($event)"></app-status-model>
