<pull-to-refresh></pull-to-refresh>

<!-- Toolbar -->
<mat-toolbar *ngIf="isLogin()" class="toolbar" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="onLogout()">
            <mat-icon>logout</mat-icon>Logout
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Navigation bar -->
<mat-toolbar *ngIf="isLogin()" class="navbar" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="updateTabName('home')">
            <mat-icon [ngClass]="{'large': currentTab==='home'}"
                [matBadge]="chatCount" 
                matBadgeColor="warn"
                [matBadgeHidden]="chatCount==0" 
                >home</mat-icon>
        </button>
        <button mat-icon-button  (click)="updateTabName('search')">
            <mat-icon [ngClass]="{'large': currentTab==='search'}">search</mat-icon>
        </button>
        <button mat-icon-button (click)="updateTabName('add')">
            <mat-icon [ngClass]="{'large': currentTab==='add'}" >control_point</mat-icon>
        </button>
        <button mat-icon-button (click)="updateTabName('notifications')">
            <mat-icon [ngClass]="{'large': currentTab==='notifications'}" 
                [matBadge]="notificationCount" 
                matBadgeColor="warn"
                [matBadgeHidden]="notificationCount==0">notifications</mat-icon>
        </button>
        <button mat-icon-button (click)="updateTabName('profile')">
            <mat-icon [ngClass]="{'large': currentTab==='profile'}" >person</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>
