<pull-to-refresh></pull-to-refresh>

<!-- Toolbar -->
<mat-toolbar *ngIf="isLogin()" class="toolbar" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="onLogout()">
            <mat-icon>logout</mat-icon>Logout
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Navigation bar -->
<mat-toolbar *ngIf="isLogin()" class="navbar" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon [ngClass]="{'large': currentTab==='home'}" (click)="updateTabName('home')">home</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon [ngClass]="{'large': currentTab==='search'}" (click)="updateTabName('search')">search</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon [ngClass]="{'large': currentTab==='add'}" (click)="updateTabName('add')">control_point</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon [ngClass]="{'large': currentTab==='notifications'}" matBadge="15" matBadgeColor="warn" (click)="updateTabName('notifications')">notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon [ngClass]="{'large': currentTab==='profile'}" (click)="updateTabName('profile')">person</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>
