
.container{
    width: 100%;
    height: 80vh;
    overflow: auto;
    margin: 50px auto;
}
.toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
    height: 50px;
}
.toolbar .mat-toolbar-row {
    display: flex;
    flex-direction: row-reverse;
}
.navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
}
.navbar .mat-toolbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    height: 30px;
    margin: 0;
}
.mat-toolbar-row button {
    cursor: pointer;
}
