
.mat-icon{
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
    margin-top: 2px;
}
.header{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 0;
    top: 0;
    z-index: 150;
    
}

.messages{
    margin: 50px 0;
    overflow: scroll;
    height: 90%;
}

.messagebox{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
.messagebox textarea{
    width: 100%;
    padding-right: 40px;
}
.messagebox .mat-icon{
    font-size: 40px;
    position: absolute;
    right: 0;
}


