<mat-card class="header" (click)="onProfileClick()" style="background-color: green;">
    <mat-icon>arrow_back</mat-icon>
    <div mat-card-avatar 
        [ngStyle]="{'background': '#000 url(' + getProfile() + ') no-repeat','background-size': 'cover'}"></div>
    <div>
        <mat-card-title>{{ user.username }}</mat-card-title>
    </div>
</mat-card>
<div class="messages">
    <app-date-chat-model></app-date-chat-model>

</div>
<div class="messagebox">
    <textarea placeholder="message" [(ngModel)]="curr_message"></textarea>
    <mat-icon *ngIf="curr_message.length>0" (click)="onMessageSend()">send</mat-icon>
</div>