<ngx-spinner></ngx-spinner>
<mat-card class="header" (click)="onProfileClick()" style="background-color: green;">
    <mat-icon (click)="onGoBack()">arrow_back</mat-icon>
    <div mat-card-avatar 
        [ngStyle]="{'background': '#000 url(' + getProfile() + ') no-repeat','background-size': 'cover'}"></div>
    <div>
        <mat-card-title>{{ user.username }}</mat-card-title>
    </div>
</mat-card>
<div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="messages">
    <app-date-chat-model 
        *ngFor="let date_message of allMessages"
        [date_message]="date_message"
        [user]="user"
        [curr_userid]="curr_userid"></app-date-chat-model>
    <app-date-chat-model *ngIf="newMessages"
        [date_message]="newMessages"
        [isnew]="true"
        [user]="user"
        [curr_userid]="curr_userid"></app-date-chat-model>
</div>
<!-- Message box -->
<div class="messagebox">
    <textarea placeholder="message" id="msgbox" [(ngModel)]="curr_message"></textarea>
    <mat-icon class="attach"                
        onclick="document.getElementById('file').click()"> attach_file</mat-icon>
    <input
        style="display: none;"
        type="file"
        id="file"
        accept="image/*"
        value="Upload"
        multiple
        (change)="upload($event)"/>
    <mat-icon *ngIf="curr_message.length>0" (click)="onMessageSend()">send</mat-icon>
</div>