<ngx-spinner></ngx-spinner>
<div>
    <mat-card>
        <mat-tab-group>
            <mat-tab label="login">
                <p *ngIf="loginErrors.length>0" class="error">{{loginErrors}}</p>
                <mat-card-content>
                    <input matInput [(ngModel)]="email" placeholder="email"/>
                    <div class="password">
                        <input matInput type="{{loginhide ? 'password' : 'text'}}" [(ngModel)]="loginPassword" placeholder="password">
                        <mat-icon class="passwordeye" (click)="loginhide=!loginhide">{{loginhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                </mat-card-content>
                <p>forgot password?</p>
                <mat-card-actions>
                    <button color="primary" mat-raised-button (click)="onLogin()">Login</button>
                </mat-card-actions>
            </mat-tab>rgb
            <mat-tab label="signup">
                <p *ngIf="signupErrors.length>0" class="error">{{signupErrors}}</p>
                <mat-card-content>
                    <input [disabled]="isVerified" matInput [(ngModel)]="username" placeholder="user name"/>
                    <input [disabled]="isVerified" matInput [(ngModel)]="email" placeholder="email"/>
                    <input [disabled]="isVerified" *ngIf="openOtp" matInput [(ngModel)]="otp" placeholder="otp"/>
                    <div class="password" *ngIf="openOtp">
                        <input matInput type="{{signuphide ? 'password' : 'text'}}" [(ngModel)]="signupPassword" placeholder="password">
                        <mat-icon class="passwordeye" (click)="signuphide=!signuphide">{{signuphide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button color="primary" mat-raised-button (click)="onVerify()">{{ openOtp ? "Resend OTP": "Send OTP" }}</button>
                    <button [disabled]="!openOtp" color="primary" mat-raised-button (click)="onSignup()">Sign up</button>
                </mat-card-actions>
            </mat-tab>
        </mat-tab-group>
        
    </mat-card>
</div>