
.chat-model{
    display: block;
    width: 80%;
    max-width: 600px;
    padding: 10px;
}

.right{
    margin: 0 0 0 auto;
}


.center{
    text-align: center;
    margin: 0;
    padding: 5px;
    color: blue;
}