:host{
    display: block;
    width: 100%;
    height: 84vh;
    overflow: auto;
    margin-top: 55px;
    margin-bottom: 90px;
}



.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 0;
}
.status{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}


@media screen and (min-width: 550px) {
    :host{
        display: block;
        width: 100%;
        height: 76vh;
        overflow: auto;
        margin-top: 64px;
        margin-bottom: 30px;
    }
}