.date{
    position: absolute;
    right: 15px;
    bottom: 0;
}

.content{
    display: block;
    margin: 57px 0 0 0;
    overflow: auto;
    height: 83vh;
}

.mat-card{
    padding: 5px;
    border-radius: 0;
}
.mat-card-title{
    margin: 0;
    margin-bottom: 0;
}
.mat-card-header .mat-card-title{
    margin: 0;
}
.mat-card-subtitle{
    margin: 0;
    margin-bottom: 7px
} 

@media screen and (min-width: 650px) {
    .content{
        height: 65vh;
    }
}