<input type="text" id="box" style="width: 100%;padding: 10px;" placeholder="Search" [(ngModel)]="query">
<mat-card *ngFor="let user of users | searchFilter : query;index as i" class="status" (click)="onClickUser(user)" [ngClass]="{'new': isNewMessage(user)}">
    <mat-card-header>
        <div mat-card-avatar 
        [ngStyle]="{'background': '#000 url(' + getProfile(i) + ') no-repeat','background-size': 'cover'}"></div>
        <mat-card-title>{{ user.username }} <mat-icon *ngIf="user.isPro">verified</mat-icon></mat-card-title>
        <mat-icon *ngIf="isNewMessage(user)" style="position: absolute;right: 5px;">fiber_new</mat-icon>
    </mat-card-header>
   
    <div>
        <!-- <mat-card-subtitle *ngIf="isChat && user.lastMessage" style="margin-left: 10px;" >{{ user.lastMessage }}</mat-card-subtitle> -->
    </div>
</mat-card>
