.main {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    min-height: 300px;
    margin-bottom: 100px;
}
.child {
    width: 100%;
    margin: auto;
}
input {
    width: 100%;
}
.fullwidth {
    margin: 30px 0;
    width: 100%;
}
.mat-card-actions {
    text-align: center;
}
.spinnerContainer {
    width: 100%;
}
