.main {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    min-height: 300px;
    margin-bottom: 100px;
}
.child {
    width: 100%;
    margin: auto;
}
input,textarea {
    width: 100%;
}
.fullwidth {
    margin: 30px 0;
    width: 100%;
}
.mat-card-actions {
    text-align: center;
}
/* .spinnerContainer {
    width: 100%;
} */

.delete{
    font-size: 40px;
    position:absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    color: red;
}
.delete:hover{
    font-size: 50px;
    right: 50px;
}