<ngx-spinner></ngx-spinner>
<div>
    <mat-card
        class="main"
        
    >
        <mat-card-content>
            <label for="chipList"><strong>Select action:</strong> </label>
            <mat-chip-list #chipList aria-label="Video keywords">
                <div *ngFor="let keyword of keywords">
                    <mat-chip
                        *ngIf="keyword.isSelected"
                        [value]="keyword.name"
                        color="primary"
                        (click)="onChipClick(keyword)"
                        selected
                    >
                        {{ keyword.name }}
                    </mat-chip>
                    <mat-chip
                        *ngIf="!keyword.isSelected"
                        [value]="keyword.name"
                        (click)="onChipClick(keyword)"
                    >
                        {{ keyword.name }}
                    </mat-chip>
                </div>
            </mat-chip-list>

            <!-- Card of Image/video with swipe -->
            <mat-card *ngIf="maxIndex" class="child">
                <mat-card-content>
                    <img src="{{ items[currIndex].url }}" (touchstart)="onTouch('start', $event)"
                    (touchend)="onTouch('end', $event)"
                    (mousedown)="onDrag('start', $event)"
                    (mouseup)="onDrag('end', $event)" /><br />
                    <div style="text-align: center">
                        <span
                            class="dot"
                            *ngFor="let i of numSequence(maxIndex);index as j"
                            [ngClass]="{ 'filled': j == currIndex }"
                        ></span>
                    </div>
                    <textarea
                        (change)="onCaptionChange(currIndex, $event)"
                        placeholder="caption {{ currIndex + 1 }}"
                        value="{{ items[currIndex].caption }}"
                    ></textarea>
                    <mat-slide-toggle [(ngModel)]="autoCaption" (change)="onAutoCaption()">Fill this caption with empty captions! Slide Toggle Checked: {{autoCaption}}</mat-slide-toggle>
                </mat-card-content>
            </mat-card>
            <!-- Image uploader -->
            <input
                *ngIf="selectedChip"
                class="fullwidth"
                type="file"
                accept="image/*"
                value="Upload"
                multiple
                (change)="upload($event)"
            />
        </mat-card-content>
        <mat-card-actions *ngIf="items.length > 0">
            <button color="primary" mat-raised-button (click)="onFinish()">
                Finish
            </button>
            <button color="primary" mat-raised-button (click)="onReset()">
                reset
            </button>
        </mat-card-actions>
    </mat-card>
</div>
