.mat-card{
    padding: 3px 5px 17px 5px
}
p{
    margin: 0;
    font-size: 19px;
}
.new{
    background: lightskyblue;
}
img{
    width: 90%;
    height: 200px;
    margin: 10px;
}
.messageend{
    display: flex;
    align-items: center;
    position: absolute;
    right: 1px;
    bottom: 1px;
    margin: 0;
}

.messageend .maticon{
    font-size: 20px;
}
.messageend p{
    margin: 0;
    font-size: 15px;
}
.message{
    text-align: center;
}