
.content{
    display: block;
    margin: 60px 0;
    overflow: auto;
    height: 83vh;
}

.mat-card{
    padding: 5px;
    margin-bottom: 5px;
}
.mat-card-title{
    margin: 0;
    margin-bottom: 0;
}
.mat-card-header .mat-card-title{
    margin: 0;
}
.mat-card-subtitle{
    margin: 0;
} 

.mat-card-avatar {
    width: 55px;
    height: 55px;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.center button{
    margin-right: 5px;
}


@media screen and (min-width: 650px) {
    .content{
        height: 65vh;
    }
}