/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* global */
* {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body{
    background-color: bisque;
}

img {
    width: 100%;
    height: 400px;
}

textarea {
    padding: 10px;
}
input,.full-width{
    width: 100%;
}

p{
    font-size: 20px;
}
.mat-tab-body-wrapper{
    width: 100%;
    height: 76vh;
    overflow: auto;
    margin: 100px auto;
}




/* Post and Status */
.dot {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}
.dot.filled {
    background-color: rgba(0, 0, 0, 0.856);
}

@media screen and (min-width: 500px) {
    .mat-tab-body-wrapper{
        width: 100%;
        height: 70vh;
        overflow: auto;
        margin: 100px auto;
    }
}